<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <%- include('../cdn_link.ejs')%>
    <style>
        #div_main{
            background-image: linear-gradient(#B33E8F,#324AB2);
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
<body>
    <div class="row m-0 p-0" id=div_main>
       <div class="col-lg-3 col-md-6 col-12 p-5 py-3 bg-light m-auto text-center">
           <h5 class="text-dark fw-bold">Verify Email</h5>
           <b class="fw-normal text-secondary" style="font-size: small;">OTP send on Email Please Check once</b>
           <form action="/admin/verifyotp" method="post" class="my-5">
                 <input type="text" name="otp" placeholder="Enter OTP" class="form-control my-3">
                 <button class="btn m-auto text-light" style="background-color:#B33E8F;">Verify</button>
           </form>
       </div>
    </div>
</body>
</html>